body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.commentBox{
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
  justify-items: center;
  margin-left: 25%;
  align-content: center;
}
h4{
  text-align: center;
}

textarea{
  height: 10vh;
  width: 35vw;
  text-align: center;
}

button{
  width: 20vw;
  margin-bottom: 3%;
  align-items: center;
  margin-left: 20%;
  text-align: center;
}
